<!DOCTYPE html>

<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
                <ul class="actions">
                    <li><a href="#footer" class="button next scrolly">Contact us!</a></li>
                </ul>
            </div>
         </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h2>The man behind the name</h2>
                </header>
                <p>{{ content }}</p>
                <ul class="actions">
                    <li><a href="What-We-Do" class="button next">Our Services</a></li>
                </ul>
            </div>
        </section>

        <!-- Two -->
        <section id="two">
            {% include tiles.html %}
        </section>

        <section id="one">
            <div class="inner">
                <header class="major">
                    <h2>Don't just take our word for it:</h2>
                </header>
                <div class="box">
                    <p>As a new student-led non-profit, managing our finances and all the forms wasn’t easy for our team. Fortunately, KLee Tax went above and beyond to ensure every detail was handled with care and precision. From filing our corporate taxes to advising us on our numerous regulatory requirements, Ken’s dedication saved us countless hours and stress and allowed us to focus on what truly matters — our community ventures. We are all incredibly grateful for his expertise and generosity. His commitment to supporting community-based non-profits like EchoHorizon truly reflect the values we strive to embody.<br>&emsp;  — <a href="https://www.echohorizon.ca/"><b>EchoHorizon Association, Markham</b></a></p>
                </div>
            </div>
        </section>

    </div>

    {% include footer.html %}

</body>

</html>