<!DOCTYPE html>

<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
                <ul class="actions">
                    <li><a href="#footer" class="button next scrolly">Contact us!</a></li>
                </ul>
            </div>
         </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h2>The man behind the name</h2>
                </header>
                <p>{{ content }}</p>
                <ul class="actions">
                    <li><a href="What-We-Do" class="button next">Our Services</a></li>
                </ul>
            </div>
        </section>

        <!-- Two -->
        <section id="two">
            {% include tiles.html %}
        </section>

    </div>

    {% include footer.html %}

</body>

</html>